@model IEnumerable<DesafioAPIFeitoComMVCSolo.Models.Tarefa>

@{
    ViewData["Title"] ="Lista de Tarefas";
}
<p>
    <a asp-action="Create">Nova Tarefa!!  </a>
</p>
<p>
  <td>
    Buscar por 
    <a asp-action="GetById"> ID | </a>
    <a asp-action="GetByTitle">Titulo | </a>
    <a asp-action="GetByDate">Data </a>
  </td>
</p>

<table class="table">
    <thead>
      <tr>
        <th>
            @Html.DisplayNameFor(model=> model.Id)
        </th>
          <th>
            @Html.DisplayNameFor(model=> model.Titulo)
        </th>
          <th>
            @Html.DisplayNameFor(model=> model.Descricao)
        </th>
          <th>
            @Html.DisplayNameFor(model=> model.Data)
        </th>
          <th>
            @Html.DisplayNameFor(model=> model.Status)
        </th>
        <th></th>
      </tr>

    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                 <td>
                    @Html.DisplayFor(model => item.Titulo)
                </td>
                 <td>
                    @Html.DisplayFor(model => item.Descricao)
                </td>
                 <td>
                    @Html.DisplayFor(model => item.Data)
                </td>
                 <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
               
                </td>

            </tr>
        }
    </tbody>

</table>